<div id="main"> <div id="headerRow"> <span 
id="headerText"> Home Brewing </span> </div> <p> I 
have been brewing beer on and off for about ten 
years and with grain for about two and a half. 
Brewing is fun but it would be more interesting to 
share experiences with other people with rather than. 
just the end result. </p> <p> I was using a &lt; 
&pound;100 3 vessel brewery until recently but have 
just splashed out on a shiny new Braumeister. The 3v 
setup served me well, giving me a best in class win 
at this year's GB Homebrew Challenge. Change in work 
and the birth of our second child meant brewing 
times had to be squeezed, hence a bit of automation. 
</p> <p> Whether you are an experienced brewer or 
have never tried it but are interested in brewing 
beer please get in touch. If there are enough of us 
then I hope we can form some sort of Overton Brew 
Club to share recipes, samples, techniques and 
disaster stories. There might even be time for the 
occasional pint. </p> <p> nick@nickwhiteley.com <br> 
@nick_whiteley <br> 07976 605031 </p>
</div>