<div class="container">
        <div class="sixteen columns">
            <h1 class="remove-bottom" style="margin-top: 40px">Nick Whiteley</h1>
            <h5>Brewer, camper, mechanic, geek and dad</h5>
            <hr />
        </div>
        <div class="one-third column">
            <h3>About nickwhiteley.com</h3>
            <p> </p>

            <div id="carousel">
                Images loading
            </div>

        </div>
        <div class="one-third column">
            <h3>Interests</h3>
            <p>This is not an exhaustive list:</p>
            <ul class="square">
                <li><strong>Family</strong>: Lorcan and Maura, Mum and Dad, Loen and Kev, need I say more?</li>
                <li><strong>Brewing</strong>: Taking beer to the next level.</li>
                <li><strong>Camping and the outdoors</strong>: I love the hills.  </li>
                <li><strong>Cars</strong>: We have a 1996 TVR Griffith in the garage a the moment and I'm still on the lookout for the right Austin 7.  </li>
                <li><strong>Geeking</strong>: On darker, wetter days it's always good to try the latest super fast database system... what?  Doesn't everybody do that?</li>
            </ul>
        </div>
        <div class="one-third column">
            <h3>Work</h3>
            <p>
                <strong><a href="http://www.seethespark.com">See The Spark</a></strong> is Nick's company.  It is very early days but current projects include:
            </p>
            <ul class="square">
                <li>Enterprise data visualisation for one of the UK's biggest retailers</li>
                <li>Retail analysis</li>
                <li>An open source media server</li>
            </ul>
            <p>Contact nick at <a href="mailto:nick@nickwhiteley.com">nick@nickwhiteley.com</a>.</p>
        </div>

    </div><!-- container -->