body {
	 background: #ffffff;
 } 
#main { 
  padding: 3px;
  position: relative;
  margin-right: 210px;
} 
#main:after {
 content : ""; 
 display: block; 
 position: absolute; 
 top: 0; 
 left: 0; 
 background-image: url(/images/brew/beer.jpg); 
 background-size: contain;
 background-repeat: no-repeat;
 width: 100%; 
 height: 100%; 
 opacity: 0.15;
 z-index: -1;
 animation: fadein 6s;
} 
@keyframes fadein {
  from { opacity: 0; } to { opacity: 0.15; }
}
#headerRow {
	width:100%;
	text-align:center;
}
#headerText {
	font-weight:bold;
}
#imageColumn {
  width: 200px;
  position: absolute;
  right: 0px;
  top:0;
}
#imageColumn img {
	width: 100%;
	border: silver solid thin;
}
@media (max-width: 380px) {
	 #imageColumn {
	   display: block;
	   width: 100%;
	   position: static;
  }
  #main {
	   margin-right: 0px;
  }
}